# Build and Release Folders
archive/
build/

# sass cache folder
resources/sass/.sass-cache

# Temp Files
.DS_Store
*.swp
*.swo
*~

# Cordova folder
cordova/
.sencha/app/cordova-impl.xml
config.xml
cordova.local.properties
.sencha_backup/
