[submodule "third_party_libraries/leaflet-usermarker"]
	path = third_party_libraries/leaflet-usermarker
	url = https://github.com/heyman/leaflet-usermarker.git
[submodule "resources"]
	path = resources
	url = https://github.com/tourtrak/resources
