{
  "app_name": "TD Five Boro Bike Tour",
  "dcs_url": "SERVER_PUBLIC_URL/DNS/IP",
  "tour_id": "ACTIVE_TOUR_ID",
  "tour_start_beta_time": 0,
  "tour_end_beta_time": 1,
  "tour_start_time": TOUR_START_TIME,
  "tour_end_time": TOUR_END_TIME,
  "reg_retry_init": 10,
  "reg_retry_after": 300
}
