@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/open-sans/OpenSans-Regular.ttf);
}
// use custom web font as default
$font-family: 'Open Sans' !default;

@import 'sencha-touch/cupertino';
@import 'sencha-touch/cupertino/all';

@import 'stylesheets/accordionlist';
@include accordionlist;

.x-accordion-list-header.x-list-item.x-item-selected, .x-accordion-list-content.x-list-item.x-item-selected {
    background-color: $ios7-blue !important;
}



.x-accordion-list .x-scroll-container
{
    background-color: #000;
}

.start_btn {
	background-color:#2E2E2E !important;
	background-image: none;
	margin-left:20px;
	margin-right:20px;
}

.start_btn_label {
	color:white;
	font-size: 100%;
	margin: auto;
}

body {
    padding: 0;
    margin: 0;
}

h1 {
		font-family: 'Open Sans';
		font-size:14px;
		font-weight:bold;
		color: #033649;
		text-align:center;
		width:100%;
		padding-top:5px;
}

b1 {
	font-family: 'Open Sans';
	color: #031634;
	text-align:left;
	font-size:12px;
	padding-top:12px;
	width:100%;
}
