@import 'sencha-touch/mountainview';
@import 'sencha-touch/mountainview/all';

@import 'stylesheets/accordionlist';
@include accordionlist;
h1 {
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:14px;
    font-weight:bold;
    color: #033649;
    text-align:center;
    width:100%;
    padding-top:5px;
}

b1 {
   font-family:Verdana, Arial, Helvetica, sans-serif;
   color: #031634;
   text-align:left;
   font-size:12px;
   padding-top:12px;
   width:100%;
}
