.img_left
{
	padding: 0;
	margin-left: 1px;
	text-align: left;	
}

.img_left img
{
	padding: 0;
	margin-top: 7px;
	width: 38px;
	height: 38px;
}

.filterMenu
{
	background: #000000;
}

#mapLabel {
	text-align: center;
	color: #000;
	z-index: 1000;
	position: absolute;
	width: 100%;
	height: 100%;
	font-size: 10px;
	vertical-align: text-bottom;
}