@font-face {
	font-family: "Flaticon";
	src: url("../fonts/flaticons/flaticon.eot");
	src: url("../fonts/flaticons/flaticon.eot#iefix") format("embedded-opentype"),
	url("../fonts/flaticons/flaticon.woff") format("woff"),
	url("../fonts/flaticons/flaticon.ttf") format("truetype"),
	url("../fonts/flaticons/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 0px;
line-height: 1;
display: inline-block;
}.flaticon-finish1:before {
	content: "\e000";
}
.flaticon-info4:before {
	content: "\e001";
}
.flaticon-man41:before {
	content: "\e002";
}
.flaticon-rest:before {
	content: "\e003";
}
.flaticon-service:before {
	content: "\e004";
}
.flaticon-standing25:before {
	content: "\e005";
}
.flaticon-train5:before {
	content: "\e006";
}
