// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).

@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/open-sans/OpenSans-Regular.ttf);
}
// use custom web font as default
$font-family: 'Open Sans', sans-serif !default;

@import 'sencha-touch/default';
@import 'sencha-touch/default/all';

// Examples of using the icon mixin:
// @include icon('user');
@import 'stylesheets/accordionlist';
@include accordionlist;
